
header {
    font-family: Papyrus;
    color: white;
    background-color: white;
    border: 2px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

header #name h1 {
    font-family: Papyrus;
    background-color: goldenrod;
    border: 2px;
    border-radius: 50px;
    padding-left: 60px;
}


header #logo img {
    max-height: 120px;
    min-height: 120px;
    min-width: 120px;
    border: 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}

nav {
    max-width: 100%;
}

nav li {
    list-style-type: none;
}


footer {
    min-height: 255px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

#top {
    background-image: url('../img/footerTop.jpg');
    min-height: 155px;
    width: 100%;
    border: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#bottom {
    background-color: black;
    min-height: 100px;
    overflow: auto;
    width: 100%;

}

#middle img {
    min-height: 100px;
    max-height: 100px;
    max-width: 60px;
    padding-top: 10px;
}

footer p {
    color: white;
    font-family: 'Times New Roman', Times, serif
}


footer h5 {
    color: goldenrod;
    font-family: Papyrus;
}

#cv {
    width:900px;
    height:600px;
    object-fit: contain;
}
