header {
    background-color: #ff7600;
    height: 100%;
}

header h1 {
    font-family: Papyrus;
    color: #ffffff;
}

header p {
    font-family: Papyrus;
    color: #ffffff;

}

#logo img {
    max-height: 100px;
    min-height: 100px;
    min-width: 60px;
    
}

nav {
    max-width: 100%;
}

#main {
    background-color: white;
}



footer {
    min-height: 255px;
    bottom: 0;
    overflow: auto;


}

#top {
    background-image: url('../img/footerTop.jpg');
    min-height: 155px;
    width: 100%;
}

#bottom {
    background-color: black;
    min-height: 100px;
    width: 100%;
    overflow: auto;
}


footer p {
    color: white;
    font-family: 'Times New Roman', Times, serif
}


footer h5 {
    color: #ff7600;
    font-family: Papyrus;
}