

header h1 {
    font-family: Papyrus;
    background-color: #01939A;
    color: #ffffff;
}

nav {
    color: #ff7600;
}

main {
    background-color: #34c6cd;
    
}

footer {
    min-height: 30px;
    background-image: url('../img/footer.jpg');
}